body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    width: 100%;
}

div {
    width: 100%;
    display: block;
    margin: 10px auto;
    padding: 2px;
    box-sizing: border-box;
}

div img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

@media screen and (min-width: 772px) {
    div {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
    }

    div img {
        max-height: 30vh;
        width: auto;
    }
}

@media screen and (min-width: 998px) {
    div {
        width: 30%;
    }
}
